<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>PrestaSoap</name>
            <displayName><![CDATA[SOAP WebServices]]></displayName>
            <version><![CDATA[1.2]]></version>
            <description><![CDATA[SOAP WebServices Server for prestaShop ]]></description>
            <author><![CDATA[Mickael Cabanas]]></author>
            <tab><![CDATA[soap_ws]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>